body{
  margin: 0px;
  background-color: rgba(220, 220, 220, 0.15);
}

.stopwatch-container{
  text-align: center;
  border: 3px black solid;
  width: 400px;
  margin: 20px auto;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.time-display{
  margin: 0px;
  font-family:monospace;
  font-weight: bold;
  font-size: 5.5em;
  font-variant-numeric: slashed-zero;
}

.stopwatch-container button{
  font-size: 1.7em;
  font-weight: bold;
  padding: 7px 15px;
  border: none;
  color: white;
  cursor: pointer;
  margin: 5px 10px 15px;
  border-radius: 7px;
}

.stopwatch-container .start-button{
  background-color: rgba(0, 128, 0, 0.85);
}

.stopwatch-container .start-button:hover{
  background-color: rgba(0, 128, 0, 1);
}

.stopwatch-container .stop-button{
  background-color: rgba(255, 0, 0, 0.75);
}

.stopwatch-container .stop-button:hover{
  background-color: rgba(255, 0, 0, 1);
}

.stopwatch-container .reset-button{
  background-color: rgba(0, 0, 255, 0.75);
}

.stopwatch-container .reset-button:hover{
  background-color: rgba(0, 0, 255, 1);
}

